---
name: Molecule Testing

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version"
        required: false
        type: string
        default: "3.12"
  workflow_dispatch:
    inputs:
      python-version:
        description: "Python version"
        required: false
        type: string
        default: "3.12"

defaults:
  run:
    working-directory: 'trevorbenson.iso_manager'

jobs:
  molecule:
    name: Molecule Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: 'trevorbenson.iso_manager'

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          # Can't go to 3.14+ until Ansible 13.x
          python-version: ${{ inputs.python-version }}

      - name: Install test dependencies.
        run: |
          pip3 install -r requirements-dev.txt

      - name: Install Ansible Galaxy requirements
        run: |
          ansible-galaxy collection install ansible.posix
          ansible-galaxy collection install community.docker

      - name: Run Molecule tests
        run: molecule test --scenario-name ${{ matrix.scenario }} --report
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
