---
name: YAML Lint

on:
  workflow_call:
    inputs:
      strict:
        description: Enable strict mode
        required: false
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      strict:
        description: Enable strict mode
        required: false
        type: boolean
        default: false

jobs:
  yamllint:
    name: YAML Lint
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.12"

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint
        run: |
          yamllint --version
          if [ "${{ inputs.strict }}" = "true" ]; then
            yamllint -s .
          else
            yamllint .
          fi
